/* Container holding the image and the text */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.profile {
	position: absolute;
	top: 10%;
    left: -3%;
	height: 75%; 
	width: 11%;
	object-fit: contain;
}

.name {
  position: absolute;
  top: 24%;
  left: 5%;
  font-family: "Bebas Neue";
  font-size: 180%;
  object-fit: contain;
}

.title {
  position: absolute;
  top: 23%;
  right: 1.5%;
  font-family: "Bebas Neue";
  font-size: 180%;
  object-fit: contain;
}
