/* Container holding the image and the text */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.profile {
	position: absolute;
	top: 8%;
    left: 1.2%;
	height: 82%; 
	width: 11%;
	object-fit: contain;
}

.name {
  position: absolute;
  top: 30%;
  left: 13.5%;
  font-family: "Bebas Neue";
  font-size: 200%;
  object-fit: contain;
}

.university {
  position: absolute;
  top: 50%;
  left: 13.5%;
  font-family: "Bebas Neue";
  font-size: 135%;
  object-fit: contain;
}