@font-face {
  font-family: BebasNeueBold;
  src: url("../Fonts/BebasNeue_Bold.otf");
}

@font-face {
  font-family: MyriadPro;
  src: url("../Fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: MyriadProBold;
  src: url("../Fonts/MYRIADPRO-BOLD.OTF");
}