body {
  background-color: white;
  margin: 0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.profile {
	position: absolute;
	top: 12%;
  left: -5%;
	height: 70%; 
	width: 15%;
	object-fit: contain;
}

.name {
  position: absolute;
  top: 24%;
  left: 4.8%;
  font-size: 180%;
  object-fit: contain;
}

.title {
  position: absolute;
  top: 24%;
  right: 1.5%;
  font-size: 180%;
  object-fit: contain;
}
