body {
  background-color: white;
  margin: 0;
}

.container {
  position: relative;
  color: white;
}

.profile {
	position: absolute;
	top: 13%;
  left: -5%;
	height: 67%; 
	width: 15%;
	object-fit: contain;
}

.name {
  position: absolute;
  top: 26%;
  left: 4.7%;
  font-size: 155%;
  object-fit: contain;
}

.title {
  position: absolute;
  top: 26%;
  right: 1.5%;
  font-size: 155%;
  object-fit: contain;
}
